body{
    background-color: #ced6f0;
    display: flex;
    justify-content: center;
}

.hero{
    background-color: #ffffff;
    margin: 150px 80px;
    padding: 50px;
    border-radius: 10px;
}

.servicios{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
div{
    flex: 0 0 calc(33.33% - 20px);
}
h1{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #4168e1;
}
.pregunta{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    color: #122158;
    line-height: 5px;
    word-spacing: -5px;
}

.respuesta{
    font-size: 13px;
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 0,95px;
    line-height: 25px;
    color: #4d4c4c;
}

.icono{
    background-color: #4168e1;
    border-radius: 50px;
    width: 60px;
    height: 60px;
}

.subtitulo{
    font-size: 15px;
    font-family: sans-serif;
    color: #122158;
    letter-spacing: -0,5px;
}
.descripcion{
    font-size: 14px;
    font-family: sans-serif;
    color: #4d4c4c;

}