body{
    background-color:#ced6f0;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.hero{
    width: 100%;
    background-color:#ffffff ;
    border-radius: 15px;
}
.servicios{
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 40px;
}

h1{
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
    color:#4269e2;
    padding: 80px 0px 0px 0px;
    font-weight: 900;
}
.pregunta{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #222a60;
    font-weight: 800;
    letter-spacing: 0,3px;
    margin-bottom: 1px;
}

.respuesta{
    font-size: 13px;
    font-family: sans-serif;
    text-align: center;
    color: #777676;
}

.subtitulo{
    font-size: 16px;
    font-family: sans-serif;
    color: #222a60;
}
.descripcion{
    font-size: 14px;
    font-family: sans-serif;
    color: #777676;
    text-align: justify;
}
.icono{
    border-radius: 50%;
    padding: 10px;
    width: 18px;
    background-color: #4269e2;
}
div{
    padding: 20px;
    background-color: #ffffff;
    margin: 20px;
}