body{
    background-color: #ced6f0;
    display: flex;
    justify-content: center;
}

.hero{
    background-color: #ffffff;
}

.servicios{
    display: flex;
    flex-wrap: wrap;
}
div{
    flex: 0 0 calc(33.33% - 20px);
}